::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 15px;
  background-color: #2c3139;
  margin: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ae4220; 
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6f240e 
}

.form {
  border-radius: 10px;
}

.input {
  border: none;
  border-radius: 0;
  width: 100%;
  font-size: 0.8em;
  padding: 20px 10px 20px 10px;
}

.inputContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputWrapper {
    display: flex;
    width: 100%;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #f4511e;
  display: inline-block;
  border: none;
  cursor: pointer;
  width: 80px;
  transition: all 0.1s;
  border-radius: 0 15px 15px 0;
}

.sendButton:enabled:hover {
  background-color: #6f240e;
}

.sendButton:enabled:active {
  transition: 0.01s;

  .sendIcon {
    padding-left: 3px;
  }
}

.sendButton:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.sendIcon {
  width: 30px;
}

.emojiButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: white;
    padding: 0 15px;
    cursor: pointer;
    color: #555;
    border-radius: 15px 0 0 15px;
}

.emojiButton:hover {
    color: #2979FF;
}

.emojiPickerContainer {
    position: relative;
    width: 100%;
}

.emojiPicker {
    position: absolute;
    bottom: 10px;
    left: 5px;
    z-index: 100;
    transform: scale(0.8);
    transform-origin: bottom left;
}

.chatCharacterCount {
    font-size: 0.8rem;
    color: #999;
    background: white;
    height: inherit;
    margin: 0;
    padding: 0 5px 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatCharacterCount p {
  margin: 0;
}

.chatCharacterCount.warning {
    color: #f39c12;
}

.chatCharacterCount.limit {
    color: #e74c3c;
}