html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  background-color: #1A1A1D;
  padding: 10px;
  overflow: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.joinInnerContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  border-radius: 15px;
  width: 100%;
}

.headingContainer {
  background-color: #f4511e;
  border-radius: 15px 15px 0 0px;
  width: 100%;
  flex-shrink: 0;
}

.heading {
  color: white;
  text-align: center;
}

.joinInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #393e46; 
  width: 100%;
  border-radius: 0 0 15px 15px;
  padding: 15px;
  flex: 1;
}

.joinInputWrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.joinLabel {
  color: white;
}

.joinInput {
  padding: 15px 20px;
  border: none;
  border-radius: 15px;
  margin: 5px;
}

.joinButton {
  padding: 15px 25px;
  font-size: 1.0em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #f4511e;
  border: none;
  border-radius: 15px;
  margin-top: 15px;
  width: 100px;
}

.joinButton:enabled:hover {background-color: #6f240e;}

.joinButton:enabled:active {
  background-color: #6f240e;
  transform: translateY(3px);
}

.joinButton:disabled {
  background-color: #888888;
  cursor: not-allowed;
  opacity: 0.6;
}

.characterCount {
    text-align: center;
    font-size: 0.8rem;
    color: #999;
    letter-spacing: 1px;
}

.characterCount.warning {
    color: #f39c12;
}

.characterCount.limit {
    color: #e74c3c;
}