.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1A1A1D;
  padding: 10px;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #393e46; 
  border-radius: 8px;
  height: 100%;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .outerContainer {
    display: block;
  }

  .chatContainer {
    height: 70vh;
  }
}