.usersContainer {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-right: 15px;
  color: white;
  background: #f4511e;
  border-radius: 8px;
  height: 90%;
  overflow-y: auto;
  min-width: 200px;
}

.usersContainer h3 {
  text-align: center;
  padding: 15px;
  margin: 0;
}

.usersList {
  padding: 10px;
  overflow-y: auto;
  background: #393e46; 
  height: 100%;
}

.activeUser {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.userAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  background-color: #fff;
  flex-shrink: 0;
}

.userAvatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userName {
  font-size: 0.8em;
  word-break: break-all;
  overflow-wrap: break-word;
}