.usersContainer {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-right: 10px;
  color: white;
  background: linear-gradient(180deg,rgba(22, 0, 33, 1) 0%, rgba(18, 11, 21, 1) 100%);
  height: 100%;
  overflow-y: auto;
  min-width: 200px;
}

.topBar {
  background: linear-gradient(180deg,rgba(74, 0, 89, 1) 0%, rgba(43, 0, 52, 1) 100%);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px 20px 0 0px;
}

.usersList {
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
}

.activeUser {
  display: flex;
  align-items: center;
  margin: 3px;
  padding: 8px;
  background: linear-gradient(180deg,rgba(74, 0, 89, 1) 0%, rgba(43, 0, 52, 1) 100%);
  border-radius: 8px;
}

.userAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  margin-left: 5px;
  background-color: #fff;
  flex-shrink: 0;
}

.userAvatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userName {
  font-size: 0.8em;
  word-break: break-all;
  overflow-wrap: break-word;
}

@media (max-width: 650px) {
  .usersContainer {
    height: 25%;
    width: 100%;
  }

  .topBar {
    height: 35px;
  }
}